<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Judul Halaman -->
    <title>
      Aplikasi Pembayaran Iuran Madrasah Ibtidaiyah Ihyauddiniyah Desa Kecil
      Besuk Probolinggo
    </title>

    <!-- Meta begin -->
    <!-- Set Karakter -->
    <meta charset="utf-8" />
    <!-- Mode Rendering -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Penulis Halaman -->
    <meta name="author" content="Madrasah Ibtidaiyah Ihyauddiniyah" />
    <!-- Pengindeksan Mesin Pencari -->
    <meta name="robots" content="index, follow" />

    <!-- Kata Kunci SEO -->
    <meta
      name="keywords"
      content="Pembayaran Iuran, Madrasah Ibtidaiyah Ihyauddiniyah, Desa Kecil Besuk, Probolinggo, Aplikasi Pembayaran, Sistem Pembayaran Iuran, Pendidikan, Madrasah Ibtidaiyah, Manajemen Keuangan, Desain Responsif, UI Modern, Aplikasi Web, Sistem Administrasi, Pembayaran Mudah, Pengelolaan Iuran, Formulir Pembayaran, Pembayaran Online, Solusi Keuangan Madrasah"
    />

    <!-- Deskripsi Halaman -->
    <meta
      name="description"
      content="Aplikasi Pembayaran Iuran untuk Madrasah Ibtidaiyah Ihyauddiniyah di Desa Kecil Besuk Probolinggo. Aplikasi ini memudahkan proses pembayaran iuran, melacak transaksi keuangan, dan mengelola administrasi dengan desain responsif dan fitur yang user-friendly."
    />

    <!-- Metadata Open Graph -->
    <meta
      property="og:title"
      content="Aplikasi Pembayaran Iuran Madrasah Ibtidaiyah Ihyauddiniyah Desa Kecil Besuk Probolinggo"
    />
    <meta
      property="og:description"
      content="Aplikasi Pembayaran Iuran untuk Madrasah Ibtidaiyah Ihyauddiniyah di Desa Kecil Besuk Probolinggo. Aplikasi ini memudahkan proses pembayaran iuran, melacak transaksi keuangan, dan mengelola administrasi dengan desain responsif dan fitur yang user-friendly."
    />
    <meta property="og:image" content="social-image.png" />

    <!-- Twitter Card Metadata -->
    <meta
      name="twitter:title"
      content="Aplikasi Pembayaran Iuran Madrasah Ibtidaiyah Ihyauddiniyah Desa Kecil Besuk Probolinggo"
    />
    <meta
      name="twitter:description"
      content="Aplikasi Pembayaran Iuran untuk Madrasah Ibtidaiyah Ihyauddiniyah di Desa Kecil Besuk Probolinggo. Aplikasi ini memudahkan proses pembayaran iuran, melacak transaksi keuangan, dan mengelola administrasi dengan desain responsif dan fitur yang user-friendly."
    />
    <meta name="twitter:image" content="social-image.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- Meta end -->

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo_mi.png" />

    <link href="vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- Datatable -->
    <link
      href="vendor/datatables/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <!-- Custom Stylesheet -->

    <link href="vendor/datatables/responsive/responsive.css" rel="stylesheet" />
    <!-- main -->
    <link
      href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
      rel="stylesheet"
    />
    <link class="main-css" href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Preloader start -->
    <div id="preloader">
      <!-- Bouncing animation container -->
      <div class="sk-three-bounce">
        <!-- Individual bouncing elements -->
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <!-- Preloader end -->

    <!--Main wrapper start-->
    <div id="main-wrapper">
      <!-- Nav header start -->
      <div class="nav-header">
        <!-- Brand logo with different images for various screen sizes -->
        <a href="index.html" class="brand-logo">
          <!-- Logo for abbreviated view (e.g., mobile) -->
          <!-- <img class="logo-abbr" src="images/logo.png" alt="" /> -->
          <img class="logo-abbr" src="images/logo_mi.png" alt="" />
          <!-- Compact logo with text (e.g., for sidebar) -->
          <!-- <img class="logo-compact" src="images/logo-text.png" alt="" /> -->
          <img class="logo-compact" src="images/logo_mi.png" alt="" />
          <!-- Full brand title logo -->
          <!-- <img class="brand-title" src="images/logo-text.png" alt="" /> -->
          <!-- <img class="brand-title" src="images/logo-text.png" alt="" /> -->
        </a>

        <!-- Navigation control for mobile view -->
        <div class="nav-control">
          <div class="hamburger">
            <!-- Hamburger menu lines for toggling navigation -->
            <span class="line"></span><span class="line"></span
            ><span class="line"></span>
          </div>
        </div>
      </div>
      <!-- Nav header end -->

      <!-- Header start -->
      <div class="header">
        <div class="header-content">
          <!-- Navbar with expandable and collapsible features -->
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
              <!-- Left side of the header -->
              <div class="header-left">
                <!-- Dashboard bar placeholder -->
                <div class="dashboard_bar"></div>
              </div>
              <!-- Right side of the header with navigation items -->
              <ul class="navbar-nav header-right">
                <!-- Weather detail item -->
                <li class="nav-item">
                  <div class="d-flex weather-detail">
                    <span><i class="las la-cloud"></i></span>
                    Probolinggo, IDN
                  </div>
                </li>
                <!-- Theme mode toggle dropdown -->
                <li class="nav-item dropdown notification_dropdown">
                  <a
                    class="nav-link bell dz-theme-mode"
                    href="javascript:void(0);"
                  >
                    <i id="icon-light" class="fas fa-sun"></i>
                    <i id="icon-dark" class="fas fa-moon"></i>
                  </a>
                </li>
                <!-- User profile dropdown -->
                <li class="nav-item dropdown header-profile">
                  <a
                    class="nav-link"
                    href="javascript:void(0)"
                    role="button"
                    data-bs-toggle="dropdown"
                  >
                    <div class="header-info">
                      <span class="text-black"
                        >Hello,<strong>Franklin</strong></span
                      >
                      <p class="fs-12 mb-0">Super Admin</p>
                    </div>
                    <img
                      src="images/profile/17.jpg"
                      width="20"
                      alt="User Profile Picture"
                    />
                  </a>
                  <!-- Dropdown menu with profile and logout options -->
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="app-profile.html" class="dropdown-item ai-icon">
                      <i
                        class="fas fa-user text-primary"
                        style="font-size: 18px"
                      ></i>
                      <span class="ms-2">Profile</span>
                    </a>
                    <a href="page-login.html" class="dropdown-item ai-icon">
                      <i
                        class="fas fa-sign-out-alt text-danger"
                        style="font-size: 18px"
                      ></i>
                      <span class="ms-2">Logout</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- Header end -->

      <!-- Sidebar start -->
      <div class="deznav">
        <div class="deznav-scroll">
          <!-- Sidebar menu -->
          <ul class="metismenu" id="menu">
            <!-- Main section -->
            <li>
              <a
                class="has-arrow ai-icon"
                href="javascript:void(0);"
                aria-expanded="false"
              >
                <i class="fas fa-chart-line fw-bold"></i>
                <span class="nav-text">Main</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="index.html" class="fs-6">Dashboard</a></li>
              </ul>
            </li>
            <!-- Payment section -->
            <li>
              <a
                class="has-arrow ai-icon"
                href="javascript:void(0);"
                aria-expanded="false"
              >
                <i class="fas fa-money-check-alt fw-bold"></i>
                <span class="nav-text">Payment</span>
              </a>
              <ul aria-expanded="false">
                <li>
                  <a href="payment_create.html" class="fs-6">Create Payment</a>
                </li>
                <li>
                  <a href="payment_history.html" class="fs-6"
                    >History Payment</a
                  >
                </li>
              </ul>
            </li>
            <!-- Master section -->
            <li>
              <a
                class="has-arrow ai-icon"
                href="javascript:void(0);"
                aria-expanded="false"
              >
                <i class="fas fa-server fw-bold"></i>
                <span class="nav-text">Master</span>
              </a>
              <ul aria-expanded="false">
                <li>
                  <a href="master_academic_year.html" class="fs-6"
                    >Academic Year</a
                  >
                </li>
                <li><a href="mater_student.html" class="fs-6">Student</a></li>
              </ul>
            </li>
            <!-- Fees section -->
            <li>
              <a
                class="has-arrow ai-icon"
                href="javascript:void(0);"
                aria-expanded="false"
              >
                <i class="fas fa-rupiah-sign fw-bold"></i>
                <span class="nav-text">Fees</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="fee_setting.html" class="fs-6">Fee Setting</a></li>
                <li>
                  <a href="fee_exemption.html" class="fs-6">Fee Exemption</a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- Footer with copyright information -->
          <div class="copyright">
            <p><strong>Payment App</strong> © 2024 All Rights Reserved</p>
            <p>Developed by _LnH'79</p>
          </div>
        </div>
      </div>
      <!-- Sidebar end -->

      <!-- Content body start-->
      <div class="content-body default-height">
        <!-- row -->
        <div class="container-fluid">
          <div class="form-head mb-4">
            <h2 class="text-black font-w600 mb-0">Payment History</h2>
          </div>
          <!-- coba -->
          <div class="row">
            <div class="card">
              <div class="card-header d-sm-flex d-block border-0 flex-wrap">
                <div class="pr-3 me-auto mb-sm-0 mb-3">
                  <h4 class="fs-20 text-black mb-1">Payment List</h4>
                  <span class="fs-12"
                    >You can filter by academic year, student or date</span
                  >
                </div>
                <div
                  class="d-flex align-items-center justify-content-between gap-1"
                >
                  <select
                    id="academic-year"
                    class="default-select form-control form-control-sm wide"
                  >
                    <option value="2023/2024 | Ganjil">
                      2023/2024 | Ganjil
                    </option>
                    <option value="2022/2023 | Genap">2022/2023 | Genap</option>
                    <option value="2021/2022 | Ganjil">
                      2021/2022 | Ganjil
                    </option>
                    <option value="2020/2021 | Genap">2020/2021 | Genap</option>
                    <option value="2019/2020 | Ganjil">
                      2019/2020 | Ganjil
                    </option>
                  </select>
                  <select
                    id="student-select"
                    class="default-select form-control form-control-sm wide"
                  >
                    <option>Student 1</option>
                    <option>Student 2</option>
                    <option>Student 3</option>
                  </select>
                  <input
                    type="date"
                    name="filter_date"
                    id="filter_date"
                    class="form-control form-control-sm"
                    placeholder="date"
                  />
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="table table-striped display min-w850"
                  >
                    <thead>
                      <tr>
                        <th>Aksi</th>
                        <th>Nomor Transaksi</th>
                        <th>Tanggal</th>
                        <th>Pelanggan</th>
                        <th>Jumlah</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- automatic render data here -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Content body end-->

      <!-- Modal Detail start -->
      <div
        class="modal fade"
        id="detailModal"
        tabindex="-1"
        aria-labelledby="modalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Detail Pembayaran</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- Data Diri Section -->
              <div class="alert alert-outline-light">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex p-1 justify-content-between m-1"
                  >
                    <strong>Nomor Transaksi</strong>
                    <span id="modalNomorTransaksi">-</span>
                  </li>
                  <li
                    class="list-group-item d-flex p-1 justify-content-between m-1"
                  >
                    <strong>Nama Siswa</strong>
                    <span id="modalNamaSiswa">-</span>
                  </li>
                  <li
                    class="list-group-item d-flex p-1 justify-content-between m-1"
                  >
                    <strong>NIS</strong>
                    <span id="modalNIS">-</span>
                  </li>
                  <li
                    class="list-group-item d-flex p-1 justify-content-between m-1"
                  >
                    <strong>Kelas</strong>
                    <span id="modalKelas">-</span>
                  </li>
                  <li
                    class="list-group-item d-flex p-1 justify-content-between m-1"
                  >
                    <strong>Tanggal Transaksi</strong>
                    <span id="modalTanggalTransaksi">-</span>
                  </li>
                </ul>
              </div>

              <!-- Rincian Iuran Section -->
              <h5 class="mt-4">Rincian Iuran</h5>

              <div id="payment-details" class="table-responsive mb-4">
                <table
                  class="table table-striped table-hover table-responsive-sm"
                >
                  <thead>
                    <tr>
                      <th>Jenis Iuran</th>
                      <th>Jumlah Iuran</th>
                      <th>Dibayar</th>
                    </tr>
                  </thead>
                  <tbody id="modalRincianIuran">
                    <!-- Rincian Iuran rows will be inserted here by JavaScript -->
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-between mt-4">
                <button
                  class="btn btn-outline-primary btn-sm no-print"
                  title="Cetak"
                  onclick="printModalContent()"
                >
                  <i class="bi bi-printer"></i>
                </button>
                <strong
                  >Total Dibayar: <span id="modalTotalDibayar">-</span></strong
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Detail end -->

      <!--Footer start-->
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright © Designed &amp; Developed by
            <a href="" target="_blank">_LnH'79</a>
            <span class="current-year">2024</span>
          </p>
        </div>
      </div>
      <!--Footer end-->
    </div>
    <!--Main wrapper end-->

    <!--Scripts-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="vendor/sweetalert2/dist/sweetalert2.min.js"></script>

    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/responsive/responsive.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="js/custom.min.js"></script>
    <script src="js/deznav-init.js"></script>

    <!-- Script theme mode start -->
    <script>
      jQuery(document).ready(function () {
        setTimeout(function () {
          dezSettingsOptions.version = "light";
          new dezSettings(dezSettingsOptions);
          setCookie("version", "light");
        }, 1500);
      });
    </script>
    <!-- Script theme mode end -->

    <script>
      $(document).ready(function () {
        var data = [
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS001",
            tanggal: "05-09-2024",
            pelanggan: "12345 | Ahmad",
            jumlah: 4,
            total: "Rp 200,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS002",
            tanggal: "10-09-2024",
            pelanggan: "67890 | Siti",
            jumlah: 4,
            total: "Rp 200,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS003",
            tanggal: "15-09-2024",
            pelanggan: "11223 | Ali",
            jumlah: 5,
            total: "Rp 200,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS004",
            tanggal: "20-09-2024",
            pelanggan: "22334 | Budi",
            jumlah: 3,
            total: "Rp 150,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS005",
            tanggal: "25-09-2024",
            pelanggan: "33445 | Lina",
            jumlah: 2,
            total: "Rp 100,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS006",
            tanggal: "30-09-2024",
            pelanggan: "44556 | Sari",
            jumlah: 6,
            total: "Rp 300,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS007",
            tanggal: "01-10-2024",
            pelanggan: "55667 | Dani",
            jumlah: 7,
            total: "Rp 350,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS008",
            tanggal: "05-10-2024",
            pelanggan: "66778 | Rina",
            jumlah: 3,
            total: "Rp 150,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS009",
            tanggal: "10-10-2024",
            pelanggan: "77889 | Tini",
            jumlah: 8,
            total: "Rp 400,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS010",
            tanggal: "15-10-2024",
            pelanggan: "88990 | Joko",
            jumlah: 2,
            total: "Rp 100,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS011",
            tanggal: "20-10-2024",
            pelanggan: "99001 | Yani",
            jumlah: 5,
            total: "Rp 250,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS012",
            tanggal: "25-10-2024",
            pelanggan: "10012 | Fani",
            jumlah: 6,
            total: "Rp 300,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS013",
            tanggal: "30-10-2024",
            pelanggan: "11123 | Rudi",
            jumlah: 4,
            total: "Rp 200,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS014",
            tanggal: "01-11-2024",
            pelanggan: "12234 | Tia",
            jumlah: 3,
            total: "Rp 150,000",
          },
          {
            aksi: [
              {
                kelas: "btn btn-outline-primary btn-sm",
                title: "Cetak",
                icon: "bi bi-printer",
              },
              {
                kelas: "btn btn-outline-info btn-sm",
                title: "Detail",
                icon: "bi bi-info-circle",
              },
            ],
            nomor_transaksi: "PS015",
            tanggal: "05-11-2024",
            pelanggan: "13345 | Dodi",
            jumlah: 7,
            total: "Rp 350,000",
          },
        ];

        // Initialize DataTable
        var table = $("#example").DataTable({
          data: data,
          columns: [
            {
              data: "aksi",
              render: function (data, type, row) {
                return data
                  .map(
                    (action) =>
                      `<button class="${action.kelas}" title="${action.title}" data-bs-toggle="modal" data-bs-target="#detailModal" onclick="showDetails('${row.nomor_transaksi}')">
                      <i class="${action.icon}"></i>
                  </button>`
                  )
                  .join(" ");
              },
            },
            { data: "nomor_transaksi" },
            { data: "tanggal" },
            { data: "pelanggan" },
            { data: "jumlah" },
            { data: "total" },
          ],
          language: {
            searchPlaceholder: "Hanya nomor transaksi",
          },
        });

        // Custom search functionality
        $("#example_filter input").on("input", function () {
          var searchValue = this.value;
          if (searchValue.length >= 4) {
            // Search in column 1 (Nomor Transaksi)
            table.column(1).search(searchValue).draw();
          } else {
            // Clear column search and perform global search
            table.column(1).search(searchValue).draw();
          }
        });

        window.showDetails = function (nomorTransaksi) {
          // Find the row data for the selected transaction
          var rowData = data.find(
            (row) => row.nomor_transaksi === nomorTransaksi
          );
          if (rowData) {
            // Set modal content
            $("#modalNomorTransaksi").text(rowData.nomor_transaksi);
            $("#modalNamaSiswa").text("Luthfi Nurul Huda"); // Example data
            $("#modalNIS").text("123243"); // Example data
            $("#modalKelas").text("6"); // Example data
            $("#modalTanggalTransaksi").text(rowData.tanggal);

            // Set rincian iuran
            var rincianIuranHtml = `
                    <tr><td>LKS</td><td>Rp 50,000</td><td>Rp 50,000</td></tr>
                    <tr><td>Tasyakuran</td><td>Rp 30,000</td><td>Rp 30,000</td></tr>
                    <tr><td>Ujian Kelulusan</td><td>Rp 120,000</td><td>Rp 120,000</td></tr>
                `;
            $("#modalRincianIuran").html(rincianIuranHtml);

            // Set total dibayar
            $("#modalTotalDibayar").text(rowData.total);
          }
        };

        // Print function
        window.printModalContent = function () {
          var printWindow = window.open("", "", "height=600,width=800");
          var printContent = document.querySelector(
            "#detailModal .modal-body"
          ).innerHTML;
          printWindow.document.write("<html><head><title>Print Modal</title>");
          // Add the necessary styles for printing
          printWindow.document.write(
            '<link rel="stylesheet" href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css">'
          );
          printWindow.document.write(
            '<link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">'
          );
          printWindow.document.write(
            '<link rel="stylesheet" href="vendor/sweetalert2/dist/sweetalert2.min.css">'
          );
          printWindow.document.write(
            '<link rel="stylesheet" href="vendor/datatables/css/jquery.dataTables.min.css">'
          );
          printWindow.document.write(
            '<link rel="stylesheet" href="vendor/datatables/responsive/responsive.css">'
          );
          printWindow.document.write(
            '<link rel="stylesheet" href="css/style.css">'
          );
          printWindow.document.write(
            "<style>@media print { .no-print { display: none !important; } }</style>"
          );
          printWindow.document.write("</head><body>");
          // Exclude the print button
          printWindow.document.write(
            '<div class="no-print">' +
              document.querySelector("#detailModal .d-flex").outerHTML +
              "</div>"
          );
          printWindow.document.write("<h1>Detail Pembayaran</h1>");
          printWindow.document.write(printContent);
          printWindow.document.write("</body></html>");
          printWindow.document.close();
          printWindow.focus();
          printWindow.print();
        };
      });
    </script>
  </body>
</html>
