<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>
            Pendaftaran Siswa Baru Madrasah Ibtidaiyah Ihyauddiniyah Desa Kecik
            Besuk Probolinggo
        </title>

        <!-- Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Madrasah Ibtidaiyah Ihyauddiniyah" />
        <meta name="robots" content="index, follow" />

        <meta
            name="keywords"
            content="Pendaftaran Siswa Baru, Madrasah Ibtidaiyah Ihyauddiniyah, Desa Kecik Besuk, Probolinggo, Pendaftaran Sekolah, Aplikasi Pendaftaran, Sistem Pendaftaran, Pendidikan, Sekolah Dasar, Formulir Pendaftaran, Pendidikan Islam, Madrasah Ibtidaiyah, Sistem Informasi Pendaftaran, Aplikasi Pendidikan, UI Modern, Desain Responsif, Aplikasi Web, Sistem Administrasi, Formulir Online, Pendaftaran Mudah, Pengelolaan Pendaftaran"
        />

        <meta
            name="description"
            content="Aplikasi Pendaftaran Siswa Baru untuk Madrasah Ibtidaiyah Ihyauddiniyah di Desa Kecik Besuk Probolinggo. Aplikasi ini memudahkan proses pendaftaran siswa baru dengan sistem yang mudah digunakan, desain responsif, dan fitur yang mendukung administrasi pendaftaran dengan efisien."
        />

        <meta
            property="og:title"
            content="Pendaftaran Siswa Baru Madrasah Ibtidaiyah Ihyauddiniyah Desa Kecik Besuk Probolinggo"
        />
        <meta
            property="og:description"
            content="Aplikasi Pendaftaran Siswa Baru untuk Madrasah Ibtidaiyah Ihyauddiniyah di Desa Kecik Besuk Probolinggo. Aplikasi ini memudahkan proses pendaftaran siswa baru dengan sistem yang mudah digunakan, desain responsif, dan fitur yang mendukung administrasi pendaftaran dengan efisien."
        />
        <meta property="og:image" content="social-image.png" />

        <meta name="format-detection" content="telephone=no" />

        <meta
            name="twitter:title"
            content="Pendaftaran Siswa Baru Madrasah Ibtidaiyah Ihyauddiniyah Desa Kecik Besuk Probolinggo"
        />
        <meta
            name="twitter:description"
            content="Aplikasi Pendaftaran Siswa Baru untuk Madrasah Ibtidaiyah Ihyauddiniyah di Desa Kecik Besuk Probolinggo. Aplikasi ini memudahkan proses pendaftaran siswa baru dengan sistem yang mudah digunakan, desain responsif, dan fitur yang mendukung administrasi pendaftaran dengan efisien."
        />
        <meta name="twitter:image" content="social-image.png" />
        <meta name="twitter:card" content="summary_large_image" />

        <!-- MOBILE SPECIFIC -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Favicon icon -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="images/logo_mi.png"
        />

        <link href="vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="vendor/chartist/css/chartist.min.css" />
        <link
            href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
            rel="stylesheet"
        />

        <!-- Form step -->
        <link
            href="vendor/jquery-smartwizard/dist/css/smart_wizard.min.css"
            rel="stylesheet"
        />
        <link class="main-css" href="css/style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="content p-3">
            <div
                class="bg-white text-center mb-2 border rounded p-3 d-flex align-items-center justify-content-between"
                style="max-width: 100%; margin: auto"
            >
                <!-- Gambar Kiri -->
                <div class="d-flex align-items-center">
                    <img
                        src="images/logo_mi.png"
                        alt="Deskripsi Gambar"
                        class="img-fluid"
                        style="max-height: 100px; object-fit: cover"
                    />
                </div>

                <!-- Teks Tengah -->
                <div class="text-center mx-3">
                    <h3 class="title" style="margin: 0; font-size: 2rem">
                        Selamat datang pada halaman pendaftaran
                    </h3>
                    <p style="margin: 0">Silahkan lengkapi semua data siswa</p>
                </div>

                <!-- Gambar Kanan -->
                <div class="d-flex align-items-center">
                    <img
                        src="images/logo_mi.png"
                        alt="Deskripsi Gambar"
                        class="img-fluid"
                        style="max-height: 100px; object-fit: cover"
                    />
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Form pendaftaran siswa</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary">
                        <div class="row g-1">
                            <div class="col-lg-6 col-sm-12">
                                <strong>Catatan :</strong> <br />
                                <span>- Semua inputan wajib diisi</span> <br />
                                <span
                                    >- Jika ada yang kosong isi dengan (-)</span
                                >
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <strong>Ekstra :</strong> <br />
                                <span
                                    >- Pada point 3 bisa diisi orang tua atau
                                    dikosongkan</span
                                >
                            </div>
                        </div>
                    </div>
                    <div id="smartwizard" class="form-wizard order-create">
                        <ul class="nav nav-wizard">
                            <li>
                                <a class="nav-link" href="#wizard_data_diri">
                                    <span>1</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#wizard_orang_tua">
                                    <span>2</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#wizard_wali">
                                    <span>3</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#wizard_review">
                                    <span>4</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div
                                id="wizard_data_diri"
                                class="tab-pane"
                                role="tabpanel"
                            >
                                <div class="row">
                                    <!-- Data diri -->
                                    <div class="col-lg-12 mb-2">
                                        <h5>Data Diri</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Nama Lengkap Siswa</label
                                            >
                                            <input
                                                type="text"
                                                name="nama_lengkap_siswa"
                                                class="form-control"
                                                placeholder="Nama Lengkap"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Nama Panggilan</label
                                            >
                                            <input
                                                type="text"
                                                name="nama_panggilan"
                                                class="form-control"
                                                placeholder="Nama Panggilan"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >NIK</label
                                            >
                                            <input
                                                type="text"
                                                name="nik"
                                                class="form-control"
                                                placeholder="1234567890123456"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Tempat Lahir</label
                                            >
                                            <input
                                                type="text"
                                                name="tempat_lahir"
                                                class="form-control"
                                                placeholder="Tempat Lahir"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Tanggal Lahir</label
                                            >
                                            <input
                                                type="date"
                                                name="tanggal_lahir"
                                                class="form-control"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Usia saat Mendaftar</label
                                            >
                                            <input
                                                type="text"
                                                name="usia_saat_mendaftar"
                                                class="form-control"
                                                placeholder="Usia (tahun.bulan)"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Jenis Kelamin</label
                                            >
                                            <select
                                                name="jenis_kelamin"
                                                class="form-control"
                                                required
                                            >
                                                <option value="Laki-laki">
                                                    Laki-laki
                                                </option>
                                                <option value="Perempuan">
                                                    Perempuan
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Jumlah Saudara</label
                                            >
                                            <input
                                                type="number"
                                                name="jumlah_saudara"
                                                class="form-control"
                                                placeholder="Jumlah Saudara"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Anak ke</label
                                            >
                                            <input
                                                type="number"
                                                name="anak_ke"
                                                class="form-control"
                                                placeholder="Anak ke"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Nomor HP/WA</label
                                            >
                                            <input
                                                type="text"
                                                name="nomor_hp"
                                                class="form-control"
                                                placeholder="Nomor HP/WA"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Alamat Email</label
                                            >
                                            <input
                                                type="email"
                                                name="alamat_email"
                                                class="form-control"
                                                placeholder="example@example.com"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Nomor Songkok/Peci</label
                                            >
                                            <input
                                                type="text"
                                                name="nomor_songkok"
                                                class="form-control"
                                                placeholder="Nomor Songkok/Peci"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Jarak dari Rumah ke
                                                Sekolah</label
                                            >
                                            <input
                                                type="text"
                                                name="jarak_rumah_sekolah"
                                                class="form-control"
                                                placeholder="Jarak (km)"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Perjalanan ke Sekolah</label
                                            >
                                            <input
                                                type="text"
                                                name="perjalanan_sekolah"
                                                class="form-control"
                                                placeholder="Perjalanan"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Sekolah Sebelumnya</label
                                            >
                                            <input
                                                type="text"
                                                name="sekolah_sebelumnya"
                                                class="form-control"
                                                placeholder="Sekolah Sebelumnya"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Nama RA/TK</label
                                            >
                                            <input
                                                type="text"
                                                name="nama_ra_tk"
                                                class="form-control"
                                                placeholder="Nama RA/TK"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Alamat RA/TK</label
                                            >
                                            <input
                                                type="text"
                                                name="alamat_ra_tk"
                                                class="form-control"
                                                placeholder="Alamat RA/TK"
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                id="wizard_orang_tua"
                                class="tab-pane"
                                role="tabpanel"
                            >
                                <div class="row">
                                    <!-- Ayah -->
                                    <div class="col-lg-12 mb-2">
                                        <h5>Data Ayah</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Nama Ayah Kandung</label
                                            >
                                            <input
                                                type="text"
                                                name="nama_ayah"
                                                class="form-control"
                                                placeholder="Nama Ayah"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Status Ayah</label
                                            >
                                            <input
                                                type="text"
                                                name="status_ayah"
                                                class="form-control"
                                                placeholder="Status Ayah"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >NIK Ayah</label
                                            >
                                            <input
                                                type="text"
                                                name="nik_ayah"
                                                class="form-control"
                                                placeholder="1234567890123456"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Tempat Lahir Ayah</label
                                            >
                                            <input
                                                type="text"
                                                name="tempat_lahir_ayah"
                                                class="form-control"
                                                placeholder="Tempat Lahir"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Tanggal Lahir Ayah</label
                                            >
                                            <input
                                                type="date"
                                                name="tanggal_lahir_ayah"
                                                class="form-control"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Pendidikan Terakhir Ayah</label
                                            >
                                            <input
                                                type="text"
                                                name="pendidikan_terakhir_ayah"
                                                class="form-control"
                                                placeholder="Pendidikan Terakhir"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Pekerjaan Ayah</label
                                            >
                                            <input
                                                type="text"
                                                name="pekerjaan_ayah"
                                                class="form-control"
                                                placeholder="Pekerjaan"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Penghasilan perbulan
                                                Ayah</label
                                            >
                                            <input
                                                type="number"
                                                name="penghasilan_ayah"
                                                class="form-control"
                                                placeholder="Penghasilan perbulan"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Alamat Lengkap Ayah</label
                                            >
                                            <input
                                                type="text"
                                                name="alamat_ayah"
                                                class="form-control"
                                                placeholder="Alamat"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Foto KTP Ayah</label
                                            >
                                            <input
                                                type="file"
                                                name="scan_ktp_ayah"
                                                class="form-control"
                                            />
                                        </div>
                                    </div>

                                    <!-- Ibu -->
                                    <div class="col-lg-12 mb-2">
                                        <h5>Data Ibu</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Nama Ibu Kandung</label
                                            >
                                            <input
                                                type="text"
                                                name="nama_ibu"
                                                class="form-control"
                                                placeholder="Nama Ibu"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Status Ibu</label
                                            >
                                            <input
                                                type="text"
                                                name="status_ibu"
                                                class="form-control"
                                                placeholder="Status Ibu"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >NIK Ibu</label
                                            >
                                            <input
                                                type="text"
                                                name="nik_ibu"
                                                class="form-control"
                                                placeholder="1234567890123456"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Tempat Lahir Ibu</label
                                            >
                                            <input
                                                type="text"
                                                name="tempat_lahir_ibu"
                                                class="form-control"
                                                placeholder="Tempat Lahir"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Tanggal Lahir Ibu</label
                                            >
                                            <input
                                                type="date"
                                                name="tanggal_lahir_ibu"
                                                class="form-control"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Pendidikan Terakhir Ibu</label
                                            >
                                            <input
                                                type="text"
                                                name="pendidikan_terakhir_ibu"
                                                class="form-control"
                                                placeholder="Pendidikan Terakhir"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Pekerjaan Ibu</label
                                            >
                                            <input
                                                type="text"
                                                name="pekerjaan_ibu"
                                                class="form-control"
                                                placeholder="Pekerjaan"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label required"
                                                >Penghasilan perbulan Ibu</label
                                            >
                                            <input
                                                type="number"
                                                name="penghasilan_ibu"
                                                class="form-control"
                                                placeholder="Penghasilan perbulan"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Alamat Ibu</label
                                            >
                                            <input
                                                type="text"
                                                name="alamat_ibu"
                                                class="form-control"
                                                placeholder="Alamat"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Foto KTP Ibu</label
                                            >
                                            <input
                                                type="file"
                                                name="scan_ktp_ibu"
                                                class="form-control"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                id="wizard_wali"
                                class="tab-pane"
                                role="tabpanel"
                            >
                                <div class="row">
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Nama Wali</label
                                            >
                                            <input
                                                type="text"
                                                name="nama_wali"
                                                class="form-control"
                                                placeholder="Nama Wali"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Scan KK Wali</label
                                            >
                                            <input
                                                type="file"
                                                name="scan_kk_wali"
                                                class="form-control"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Scan Kartu PKH (Jika
                                                ada)</label
                                            >
                                            <input
                                                type="file"
                                                name="scan_kartu_pkh"
                                                class="form-control"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <label class="form-label"
                                                >Scan Kartu KKS (Jika
                                                ada)</label
                                            >
                                            <input
                                                type="file"
                                                name="scan_kartu_kks"
                                                class="form-control"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="skip-email text-center">
                                            <p>
                                                Or if want skip this step
                                                entirely and setup it later
                                            </p>
                                            <a href="javascript:void(0)"
                                                >Skip step</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                id="wizard_review"
                                class="tab-pane"
                                role="tabpanel"
                            >
                                <div class="row text-center">
                                    <div class="col-lg-12 mb-2">
                                        <h5>Review Data Pendaftaran</h5>
                                        <!-- Tempat untuk menampilkan ringkasan data -->
                                        <p>
                                            Pastikan semua data sudah benar
                                            sebelum mengirimkan formulir.
                                        </p>
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                        >
                                            Kirim Pendaftaran
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer start-->
        <div class="text-center bg-white p-2" style="height: 75px">
            <div class="copyright">
                <p>
                    Copyright © Designed &amp; Developed by
                    <a href="" target="_blank">_LnH'79</a>
                    <span class="current-year">2024</span>
                </p>
            </div>
        </div>
        <!--Footer end-->

        <!--Scripts-->
        <!-- Required vendors -->
        <script src="vendor/global/global.min.js"></script>
        <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
        <!-- Form validate init -->
        <script src="js/plugins-init/jquery.validate-init.js"></script>
        <!-- Form Steps -->
        <script src="vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js"></script>

        <script>
            $(document).ready(function () {
                // SmartWizard initialize
                $("#smartwizard").smartWizard();
            });
        </script>
    </body>
</html>
